<table class="list-tb">
  <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
    <th>follows</th>
    <th>followers</th>
    <th></th>
  </tr>
  <% users.each do |user| %>
    <tr class="list-user-<%= user.id %>">
      <%= render 'user', user: user %>
    </tr>
  <% end %>
</table>
