  <div class="col-md-12">
    <h2>Following Books</h2>
    <table class="list-tb">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th></th>
      </tr>
      <%= render @books %>
    </table>
  </div>

