<h2>New book</h2>
<form action="">
  <label for="">Title</label><br>
  <input type=""><br>
  <label for="">Opinion</label><br>
  <textarea id="" name="" cols="30" rows="10"></textarea><br>
  <input type="submit" class="btn btn-primary">
</form>    
