<table class="list-tb">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
    <th></th>
  </tr>
  <% books.each do |book| %>
    <tr id="book-<%= book.id %>">
      <%= render 'book', book: book %>
    </tr>
  <% end %>
</table>

