/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/


.search-form {
  height: 60px;
  background-color: #222;
}

.search-form > form {
  width: 35%;
  float: right;
  padding-top: 18px;
}

.navbar {
  margin-bottom: 0;
}
/* home */
.top-wrapper {
  width: 45%;
  margin: 0 auto;
}

.top-wrapper > .btn {
  display: block;
  width: 80%;
  margin: 0 auto;
  color: #555;
}

/* user */
.mypage-tb tr {
  border-top: 1px solid #ddd;
}

.mypage-tb th {
  padding: 10px;
}

.mypage-tb + .btn {
  width: 100%;
}

.list-tb {
  width: 100%;
}

.list-tb tr {
  border-bottom: 1px solid #ddd;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 25px;
}

.success {
  color: green;
}

.show-tb {
  width: 100%;
}

.show-tb tr {
  border-top: 1px solid #ddd;
}

.edit_book > input, .edit_book > textarea, .new_book > input, .new_book > textarea {
  width: 100%;
}

.edit_book ~ a {
  color: #777;
}

.comment-form {
  padding-top: 50px;
}

.edit-btn {
  width: 100%;
  margin-top: 10px;
}

#message-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.message {
  display: flex;
}
